/* Testing autoprefixer */
.autoprefixer {
  display: flex;
}

/* Testing cssnext */
.cssnext {
  background: color(red alpha(-10%));
}

/* Testing precss https://github.com/jonathantneal/precss https://jonathantneal.github.io/precss/ */
.precss {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}